[project]
	description = Safari extenstion to send YouTube videos to XBMC
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MatthiasW (ConnyCola)
[access "refs/for/refs/*"]
	read = group user/MatthiasW (ConnyCola)
	push = group user/MatthiasW (ConnyCola)
	label-Code-Review = -2..+2 group user/MatthiasW (ConnyCola)
	label-Verified = -1..+1 group user/MatthiasW (ConnyCola)
	rebase = group user/MatthiasW (ConnyCola)
	removeReviewer = group user/MatthiasW (ConnyCola)
	submit = group user/MatthiasW (ConnyCola)
[access "refs/heads/*"]
	read = group user/MatthiasW (ConnyCola)
	create = group user/MatthiasW (ConnyCola)
	push = +force group user/MatthiasW (ConnyCola)
	pushMerge = group user/MatthiasW (ConnyCola)
[access "refs/tags/*"]
	push = +force group user/MatthiasW (ConnyCola)
	pushTag = group user/MatthiasW (ConnyCola)
	pushSignedTag = group user/MatthiasW (ConnyCola)
